.subscribe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #201a21;
    width: 100%;
    min-height: 100vh;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #c9c9c9 #332f34;
  }
  
  .subscribe-title {
    font-size: 36px;
    color: white;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .subscribe-scroll-container {
    max-height: 400px;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #c9c9c9 #332f34;
  }
  
  .subscribe-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    width: fit-content;
    padding-bottom: 1rem;
    /* Añade los siguientes estilos para hacer visible la barra de desplazamiento */
    overflow-y: hidden;
    white-space: nowrap;
  }
  
  .subscribe-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: #a3a3a3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
    flex-shrink: 0;
    white-space: normal;
  }
  
  .subscribe-item:hover {
    transform: scale(1.07);
    box-shadow: 0 4px 8px rgba(213, 213, 213, 0.2);
  }
  
  .subscribe-item.selected {
    background-color: #ededed;
    padding: 1.8rem;
    margin-bottom: 0.8rem;
  }
  
  .subscribe-link {
    color: #783fb5;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .subscribe-button {
    border-radius: 32px;
    height: 35px;
    width: 120px;
    background-color: rgb(65, 176, 0);
    color: white;
    border: none;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .subscribe-button.unsubscribe {
    width: 110px;
    background-color: rgb(162, 0, 0);
  }
  
  .subscribe-button:hover {
    background-color: rgb(26, 121, 0);
    transform: scale(1.1);
  }
  
  .subscribe-button.unsubscribe:hover {
    background-color: rgb(123, 0, 0);
  }
  
  button:focus {
    outline: none;
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  .scroll-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #a3a3a3;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .scroll-button:hover {
    background-color: #ededed;
  }
  
  .scroll-button .icon {
    font-size: 20px;
    color: #332f34;
  }
  