.search-container {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 4.5rem;
  }
  
  .title-container-searcher {
    margin: 15px 0px 30px 15px;
    padding: 0;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    border-radius: 50px;
    width: 40rem;
    height: 6rem;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(32, 35, 39);
  }
  
  .search-icon {
    color: #00aaff;
    font-size: 2rem;
    margin-left: 15px;
    margin-right: 1rem;
  }
  
  .search-input {
    color: white;
    background-color: rgb(32, 35, 39);
    border: none;
    font-size: 2rem;
    margin-left: 2rem;
    text-align: start;
    outline: none;
    text-align: left;
  }
  
  .search-input:focus {
    color: white;
  }
  
  .tooltip {
    position: absolute;
    font-size: 3rem;
    top: 30px;
    right: 0;
    left: 24px;
    display: none;
    padding: 5px;
    background-color: white;
    border: 1px solid #0077b6;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
    max-height: 12rem;
  }
    
  .search-container:hover .tooltip {
    display: block;
  }
  
  .search-input:focus ~ .tooltip {
    display: block;
  }
  