/* Estilos para el contenedor de ubicaciones */
.ubicaciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #322b5f;
  padding: 2rem;
  margin: 20px;
  height: 100vh;
  overflow-y: scroll;
}

/* Estilos para la lista de ubicaciones */
.ubicaciones-list-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
  /* border: 2px solid red; */
}

.ubicaciones-list {
  overflow-y: scroll;
  background-color: #0f0d1e;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px;
  /* border: 2px solid blue; */
  width: 1000px;
}

/* Estilos para cada ubicación */
.ubicacion-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  color:rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 1rem; */
  /* width: 1000px; */
}

.separador{
/* margin-bottom: 1rem; */
}

.default{
background-color:rgb(66, 66, 66) !important;
}

.Verde{
background-color:rgb(36, 113, 0) !important;
}

.Rojo{
background-color:rgb(150, 0, 0) !important;
}

.Amarillo{
background-color:rgb(192, 185, 0) !important;
}

.ubicacion-card h4 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.ubicacion-card h6 {
  margin: 5px 0;
  font-size: 14px;
  margin-bottom: 5px;
}

.error-mensaje{
width: 100%;
opacity: 0.6;
text-align: center;
padding: 2rem;
margin-bottom: 4rem;
}