/* Estilos para el contenedor de ubicaciones */
.ubicaciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-y: auto;
}

/* Estilos para la lista de ubicaciones */
.ubicaciones-list-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30vw; /* Reducir el alto de la lista para dar espacio al botón GoBack */
}

.ubicaciones-list {
  background-color: #131f30;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
  max-width: 850px; /* Cambiar a "max-width" en lugar de "width" para que se ajuste en pantallas más pequeñas */
  width: 100%;
  margin-bottom: 1rem;
}

.ubicaciones-list-header {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 0;
}

.ubicaciones-list-header p {
  width: 250px;
  font-weight: bold;
  margin: 0;
  color: #445267;
}

.ubicaciones-list-elems {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: rgba(15, 25, 39, 0.726);
}
::-webkit-scrollbar-thumb {
  background-color: #213958;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #254063;
}

/* Estilos para cada ubicación */
.ubicacion-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5px;
}

.ubicacion-card-elem {
  margin: 0;
  font-size: 14px;
  width: 250px;
}

.ubicacion-name {
  font-size: 16px;
  font-weight: bold;
}

.ubicacion-estado {
  width: 100px;
  font-weight: bold;
  color: #445267;
}

.ubicacion-card-estado {
  margin: 0px 60px 0px 20px;
  width: 20px;
  font-weight: bold;
  color: #445267;
  height: 20px;
  border-radius: 50px;
}

.default {
  background-color: rgb(66, 66, 66) !important;
}

.Verde {
  background-color: rgb(36, 113, 0) !important;
}

.Rojo {
  background-color: rgb(218, 0, 0) !important;
}

.Amarillo {
  background-color: rgb(137, 132, 0) !important;
}

.error-mensaje {
  width: 100%;
  opacity: 0.6;
  text-align: center;
  padding: 2rem;
  margin-bottom: 4rem;
}
