.ubicaciones-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.ubicacion-container {
  animation: fadeIn 0.5s ease;
}

.ubicaciones-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.mensaje-alerta {
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.mensaje-alerta.mensaje-Rojo {
  background-color: #ff5454;
  color: #fff;
}

.mensaje-alerta.mensaje-Amarillo {
  background-color: #ffc107;
  color: #000;
}

.mensaje-alerta.mensaje-Verde {
  background-color: #28a745;
  color: #fff;
}

.error-mensaje {
  margin-top: 20px;
  color: #ff0000;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
