.option-card { 
    padding: 20px;
    border-radius: 10px;
    padding: 1rem;
    margin: 1.3rem;
    transition: transform 0.3s ease-in-out;
}

.option-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-icon svg{
    margin-right: 8px;
    font-size: 1.2rem;
}

.option-card:hover{
    cursor: pointer;
    box-shadow: none;
    transform: scale(1.1);
}
  
.option-card h3{
    color: rgb(255, 255, 255);
    font-size: 1.5;
    text-align: center;
}
  
.option-card p {
  width: 100%;
  opacity: 0.65;
}

.option-crear{
    background-color: #008888;
    box-shadow: 0px 0px 10px 4px rgb(85, 166, 175);
}

.option-search{
    background-color: #3b28a8;
    box-shadow: 0px 0px 10px 4px rgba(97, 136, 251, 0.6);
}

.option-all{
    background-color: #5e6735;
    box-shadow: 0px 0px 10px 4px rgba(114, 166, 0, 0.6);
}

.option-move{
    background-color: #a82b2b;
    box-shadow: 0px 0px 10px 4px rgba(255, 0, 0, 0.6);
}

.option-shortMove{
    background-color: #2e2a7c;
    box-shadow: 0px 0px 10px 4px rgba(44, 1, 237, 0.6);
}

.option-connected{
    background-color: #427226;
    box-shadow: 0px 0px 10px 4px rgba(96, 255, 47, 0.6);
}

.option-connect{
    background-color: #8b6724;
    box-shadow: 0px 0px 10px 4px rgba(215, 168, 74, 0.6);
}

.option-subscribe{
    background-color: #921c92;
    box-shadow: 0px 0px 10px 4px rgb(195, 0, 255);
}

.option-expandir{
    background-color: #8d1b1b;
    box-shadow: 0px 0px 10px 4px rgba(255, 0, 0, 0.6);
}