:root {
  --azul: #3b82f6;
  --blanco: #ffffff;
  --gris-claro: #f5f5f5;
  --gris: #94a3b8;
  --gris-oscuro: #64748b;
  --negro: #000;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("img/fondo-home.avif");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  overflow: hidden;
}


